{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Expense Tracker{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <link href="{% static 'expenses/styles.css' %}" rel="stylesheet">
    {% block script %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">{{user.username}}'s Expenses</a>

        <div>
            <ul class="nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="summary-button">Summary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="details-button">Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="transaction-button">Add transaction</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="method-button">Add pay method</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}" id="summary-button">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div id="body">
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>