{% extends "expenses/layout.html" %}

{% block body %}
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <div id="login">
        <div class="flex1">
            <h1>Join Expendart!</h1>
            <p>Expendart is a tool to help you keep track of your expenses.
                This allows you to keep focusing on what actually matters,
                spending time on things you want to do!<p>
        </div>
        <div class="flex1">
            <h2>Login</h2>
            <div class="spacer2"></div>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input autofocus class="form-control" type="text" name="username" placeholder="Username">
                </div>
                <div class="spacer3"></div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <div class="spacer3"></div>
                <input class="btn btn-primary" type="submit" value="Login">
                <div class="spacer3"></div>
            </form>
            Don't have an account? <a href="{% url 'register' %}">Register here.</a>
        </div>
    </div>
    

{% endblock %}