{% extends "expenses/layout.html" %}

{% block body %}
    <div id="body">
        <div class="spacer4"></div>
        <h2>Register</h2>
        <div class="spacer4"></div>

        {% if message %}
            <div class="alert alert-warning" role="alert">{{ message }}</div>
            <div class="spacer3"></div>
        {% endif %}

    
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" autofocus type="text" name="username" placeholder="Username">
            </div>
            <div class="spacer2"></div>
            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="Email Address">
            </div>
            <div class="spacer2"></div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="spacer2"></div>
            <div class="form-group">
                <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
            </div>
            <div class="spacer2"></div>
            <input class="btn btn-primary" type="submit" value="Register">
            <div class="spacer2"></div>
        </form>
        Already have an account? <a href="{% url 'login' %}">Log In here.</a>
    </div>
{% endblock %}